<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceam.sport.mapper.CeamCommentsMapper">

    <select id="listComments" resultType="com.ceam.sport.vo.CeamCommentsVO">
        SELECT t.*,
            cu.nickname customerName,
            cu.avatar customerAvatar
        FROM ceam_comments t
        LEFT JOIN ceam_customer cu ON cu.id = t.customer_id
        WHERE  t.is_show = 1 and t.store_id = #{storeId}
        <if test="type != null and type != 0">
            and t.type = #{type}
        </if>
        <if test="coachId != null and coachId != 0L">
            and t.obj_id = #{coachId}
        </if>

    </select>

</mapper>
