<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceam.admin.mapper.CeamSysRoleMapper">

    <select id="listByUserId" parameterType="java.lang.Long"
            resultType="com.ceam.admin.dto.RoleDTO">
        select t.* from ceam_sys_role t
        left join ceam_user_role r on r.role_id = t.id
        left join ceam_sys_user u on u.id = r.user_id
        where u.id = #{userId}
    </select>

</mapper>
